html {
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--yellow-200);
  color: var(--text-color);
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: var(--yellow-100);
}

.card {
  background: var(--yellow-100);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.div {
  background: var(--yellow-200);
}
